/* ------------------------------------------------------------------------- */
/* variables
/* ------------------------------------------------------------------------- */
:root {
  --WT: #fff;
  --BK: #000;
  --primary:   #5865f2;
  --border: #e4e7f0;
  --text: #1a1d2e;
  --text-2: #6b7080;

  --font:'Nunito', 'Noto Sans KR', sans-serif;
}


/* ------------------------------------------------------------------------- */
/* RESET
/* ------------------------------------------------------------------------- */
* {box-sizing:border-box}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
address, em, img, strong, i, dl, dt, dd, ul, li, 
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, figure, button, input, select {
	margin: 0;
	padding: 0;
	border: 0;
  word-break: break-all;
}
:lang(ko) {word-break: keep-all;}
ul, li {list-style: none;} ul,li a{display: block;}
a {text-decoration: none; color: inherit;}
em, address {font-style: normal;}
h1, h2, h3, h4, h5, h6, strong {font-weight: normal;}
article, aside, figcaption, figure, footer, header, nav, section, main {display: block;}
table {border-collapse: collapse; border-spacing:0;}
input, button, select { border: none; border-radius:0; background-color: transparent; }
select {appearance:none; -webkit-appearance:none;  -moz-appearance:none;}
button, select {cursor: pointer;}
input:focus, select:focus, option:focus, textarea:focus, button:focus {outline: none;}
textarea, textarea:focus {border: none; outline: none; resize: none;}
img, svg, video, canvas, audio, iframe {display: block;}
img, video {max-width: 100%; height: auto;}

a:focus, button:focus, input:focus, textarea:focus, select:focus {outline: none;}
a:focus-visible, button:focus-visible, input:focus-visible, 
textarea:focus-visible, select:focus-visible {outline: 2px dashed var(--BK);}
input:focus-visible {outline-offset: 0.2rem;}

html {font-size: 62.5%;}
body{
  /* font: 400 16px/2.1rem 'Pretendard', 'Noto Sans KR', 'Malgun Gothic' ,'돋움', dotum, AppleGothic, sans-serif;  */
  font-family: var(--font); font-size: 1.6rem; font-weight: 400;
  background: var(--WT); color: var(--text);
  min-height: 100dvh;
  margin: 0;
}

/* ------------------------------------------------------------------------- */
/* Commoon
/* ------------------------------------------------------------------------- */
body {padding: 5rem;}
.cont + .cont {margin-top: 3rem;}

/*===== flex utility =====*/
.u_column {display: flex; flex-direction: column;}

/* x축 중앙 */
.fx1 {flex: 1;}
.u_fxCenter {display: flex; align-items: center; justify-content: center;}
.u_fxBetween {display: flex; align-items: center; justify-content: space-between;}
.u_fxStart {display: flex; align-items: center; justify-content: flex-start;}
.u_fxEnd {display: flex; align-items: center; justify-content: flex-end;}
/* y축 */
.u_fyStart {display: flex; align-items: flex-start;}

/* gap */
.g20 {gap: 2rem;}
.g40 {gap: 2rem;}

/* margin-top */
.mt20 {margin-top: 2rem;}




/* input */
input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--border); border-radius: 0.8rem;
}

/* button */
button {
  padding: 1rem 2.4rem;
  background-color: var(--WT);
  border: 1px solid; border-radius: 0.8rem;
  transition: all .15s;

  &:hover {
    border: 1.5px solid var(--primary); 
    color: var(--primary); 
    font-weight: 700;
  }
}
